/* line 1, ../sass/jingjiren.scss */
.agent_photo {
  margin-top: 3%;
  padding: 0 2%;
}
/* line 4, ../sass/jingjiren.scss */
.agent_photo .agent_name {
  margin-left: -30px;
  margin-top: 3%;
}
/* line 7, ../sass/jingjiren.scss */
.agent_photo .agent_name h5 {
  font-size: 18px;
}
/* line 9, ../sass/jingjiren.scss */
.agent_photo .agent_name h5 span {
  background-color: #d7d7d7;
  color: #374047;
  font-weight: 400;
}
/* line 15, ../sass/jingjiren.scss */
.agent_photo .agent_name .agent_assess {
  color: #ff6600;
}
/* line 18, ../sass/jingjiren.scss */
.agent_photo .agent_name .phone_nb {
  margin-top: 4%;
  margin-left: -25px;
}
/* line 22, ../sass/jingjiren.scss */
.agent_photo .agent_name .phone_nb span {
  background-color: #ff6600;
  font-size: 20px;
  font-weight: 400;
}
/* line 28, ../sass/jingjiren.scss */
.agent_photo .agent_name .zhuce_time {
  margin-left: 0px;
  color: #7b7b7b;
}
/* line 34, ../sass/jingjiren.scss */
.agent_photo .zhuce_ewm p {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 10px;
  color: #75797c;
}

/* line 43, ../sass/jingjiren.scss */
.agent_content {
  margin-top: 20px;
}
/* line 45, ../sass/jingjiren.scss */
.agent_content .container-fulid {
  margin: 0 9%;
  padding: 20px 30px;
  background-color: #fff;
}
/* line 49, ../sass/jingjiren.scss */
.agent_content .container-fulid h4 {
  padding-bottom: 8px;
  font-weight: 800;
  color: #868686;
  border-bottom: 1px solid #c9c9c9;
}
/* line 57, ../sass/jingjiren.scss */
.agent_content .container-fulid .xq_brief_info p b {
  color: #727377;
  font-weight: 400;
}
/* line 61, ../sass/jingjiren.scss */
.agent_content .container-fulid .xq_brief_info p span {
  color: #4b494a;
}
/* line 68, ../sass/jingjiren.scss */
.agent_content .container-fulid .flow .kfjl_content .table {
  width: 80%;
  margin-top: 5px;
  margin-left: 1.5%;
}
/* line 72, ../sass/jingjiren.scss */
.agent_content .container-fulid .flow .kfjl_content .table thead {
  background-color: #f2f2f2;
  color: #3e3e3e;
}
/* line 75, ../sass/jingjiren.scss */
.agent_content .container-fulid .flow .kfjl_content .table thead th {
  font-weight: 400;
}
/* line 80, ../sass/jingjiren.scss */
.agent_content .container-fulid .flow .kfjl_content .page {
  width: 83%;
  margin-top: -20px;
}
/* line 83, ../sass/jingjiren.scss */
.agent_content .container-fulid .flow .kfjl_content .page .total_nb {
  display: inline-block;
  float: left;
  margin-top: 7px;
  margin-right: 8px;
}
/* line 89, ../sass/jingjiren.scss */
.agent_content .container-fulid .flow .kfjl_content .page .fenye_nb {
  float: left;
  display: inline-block;
  margin-top: 7px;
  margin-right: 8px;
}
/* line 99, ../sass/jingjiren.scss */
.agent_content .container-fulid .communicate .name {
  width: 30%;
}
/* line 102, ../sass/jingjiren.scss */
.agent_content .container-fulid .communicate .need {
  margin-top: 20px;
}
/* line 106, ../sass/jingjiren.scss */
.agent_content .container-fulid .communicate .submit .btn {
  background-color: #ff6600;
  padding: 12px 15%;
}
/* line 110, ../sass/jingjiren.scss */
.agent_content .container-fulid .communicate .submit p {
  margin: 0;
}
/* line 116, ../sass/jingjiren.scss */
.agent_content .container-fulid .chat_box .chat_user {
  padding: 1% 0;
  margin: 20px 0 10px;
  background-color: #f2f2f2;
}
/* line 120, ../sass/jingjiren.scss */
.agent_content .container-fulid .chat_box .chat_user .question {
  margin-left: -15px;
  margin-top: 9px;
}
/* line 123, ../sass/jingjiren.scss */
.agent_content .container-fulid .chat_box .chat_user .question p {
  margin: 0;
}
/* line 126, ../sass/jingjiren.scss */
.agent_content .container-fulid .chat_box .chat_user .question .user_city {
  color: #686a69;
}
/* line 133, ../sass/jingjiren.scss */
.agent_content .container-fulid .chat_box .chat_agent .agent_info p {
  margin: 0;
}
/* line 137, ../sass/jingjiren.scss */
.agent_content .container-fulid .chat_box .chat_agent .agent_info .agent_assess i {
  font-size: 10px;
  color: #ff6600;
}
/* line 143, ../sass/jingjiren.scss */
.agent_content .container-fulid .chat_box .chat_agent .answer {
  margin-top: 10px;
  margin-left: -30px;
}
/* line 146, ../sass/jingjiren.scss */
.agent_content .container-fulid .chat_box .chat_agent .answer p {
  color: #ff6600;
}
/* line 153, ../sass/jingjiren.scss */
.agent_content .container-fulid .chat_box .page .total_nb {
  display: inline-block;
  float: left;
  margin-top: 7px;
  margin-right: 8px;
}
/* line 159, ../sass/jingjiren.scss */
.agent_content .container-fulid .chat_box .page .fenye_nb {
  float: left;
  display: inline-block;
  margin-top: 7px;
  margin-right: 8px;
}
