/* line 1, ../sass/yhtgxq.scss */
.yhtg_title {
  margin-top: 25px;
}
/* line 3, ../sass/yhtgxq.scss */
.yhtg_title .title_content {
  margin: 0 8.3333%;
  padding: 15px 10px;
  background-color: #ffcccc;
}
/* line 7, ../sass/yhtgxq.scss */
.yhtg_title .title_content h3 {
  margin-top: 6px;
  margin-bottom: 0px;
  padding: 23px 12px;
  border: 1px dashed red;
  color: #ff6600;
}
/* line 14, ../sass/yhtgxq.scss */
.yhtg_title .title_content p {
  margin: 0;
  font-size: 10px;
  padding: 2px 0;
}
/* line 19, ../sass/yhtgxq.scss */
.yhtg_title .title_content a {
  padding: 3% 0;
  width: 60%;
  margin-top: 20px;
  background-color: #ff6600;
  color: #fff;
  font-size: 16px;
}

/* line 31, ../sass/yhtgxq.scss */
.yhtg_xq {
  margin-top: 20px;
  padding: 0 8.3333%;
}
/* line 34, ../sass/yhtgxq.scss */
.yhtg_xq .row {
  margin: 0;
  padding-bottom: 15px;
}
/* line 39, ../sass/yhtgxq.scss */
.yhtg_xq .row .yhtgxq_info .lp_name .row {
  margin-left: -15px;
}
/* line 41, ../sass/yhtgxq.scss */
.yhtg_xq .row .yhtgxq_info .lp_name .row h2 {
  margin: 0;
}
/* line 44, ../sass/yhtgxq.scss */
.yhtg_xq .row .yhtgxq_info .lp_name .row .btn {
  background-color: #fff;
  color: #6b6b6b;
  font-size: 12px;
  border: 1px solid #6b6b6b;
}
/* line 52, ../sass/yhtgxq.scss */
.yhtg_xq .row .yhtgxq_info .lp_price {
  padding: 15px;
  background-color: #d7d7d7;
}
/* line 55, ../sass/yhtgxq.scss */
.yhtg_xq .row .yhtgxq_info .lp_price p {
  margin: 0;
  font-weight: 800;
  font-size: 22px;
  color: #ff6600;
}
/* line 62, ../sass/yhtgxq.scss */
.yhtg_xq .row .yhtgxq_info .lp_xq {
  padding-bottom: 10px;
  border-bottom: 1px solid #bcbcbc;
}
/* line 65, ../sass/yhtgxq.scss */
.yhtg_xq .row .yhtgxq_info .lp_xq p {
  margin-top: 8px;
  margin-bottom: 0;
}
/* line 71, ../sass/yhtgxq.scss */
.yhtg_xq .row .yhtgxq_info .agent .agent_info {
  width: 33%;
  float: left;
  text-align: center;
  margin-bottom: 10px;
}
/* line 76, ../sass/yhtgxq.scss */
.yhtg_xq .row .yhtgxq_info .agent .agent_info .touxiang {
  padding-top: 10px;
}
/* line 78, ../sass/yhtgxq.scss */
.yhtg_xq .row .yhtgxq_info .agent .agent_info .touxiang img {
  width: 70%;
  margin-left: 2%;
}
/* line 83, ../sass/yhtgxq.scss */
.yhtg_xq .row .yhtgxq_info .agent .agent_info .agent_name {
  margin: 0;
  font-size: 12px;
}
/* line 87, ../sass/yhtgxq.scss */
.yhtg_xq .row .yhtgxq_info .agent .agent_info .agent_assess {
  margin: 0;
  font-size: 10px;
  color: #ff6600;
}
/* line 92, ../sass/yhtgxq.scss */
.yhtg_xq .row .yhtgxq_info .agent .agent_info .btn {
  margin-top: 5px;
  color: #ff6600;
  background-color: #fff;
  border-color: #ff9900;
}

/* line 104, ../sass/yhtgxq.scss */
.fdjsq {
  padding: 12px 8.3333%;
  background-color: #fff;
}
/* line 107, ../sass/yhtgxq.scss */
.fdjsq .js_container {
  margin: 0;
  padding: 15px;
  border: 1px solid #e1e1e1;
}
/* line 112, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_condition h4 {
  text-align: center;
}
/* line 115, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_condition .row {
  margin: 0 -15px;
}
/* line 117, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_condition .row .js_choose {
  padding-left: 4%;
}
/* line 119, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_condition .row .js_choose li {
  padding: 10px 0;
}
/* line 121, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_condition .row .js_choose li p {
  margin: 0;
}
/* line 123, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_condition .row .js_choose li p span {
  margin-left: 5px;
}
/* line 125, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_condition .row .js_choose li p span b {
  font-size: 20px;
  font-weight: 400;
}
/* line 133, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_condition .row .js_choose .block select {
  width: 65%;
}
/* line 138, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_condition .row .btn {
  margin-top: 120%;
  width: 60%;
  padding: 5% 10px;
}
/* line 142, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_condition .row .btn p {
  margin: 0;
}
/* line 150, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_result .result_title h4 {
  text-align: center;
  margin-top: 30px;
}
/* line 153, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_result .result_title h4 a {
  float: right;
  font-size: 12px;
}
/* line 161, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_result .result_bar .result_nb p {
  margin: 10px 0;
  padding: 15px 15px;
}
/* line 165, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_result .result_bar .result_nb .sf {
  color: #2f69bf;
  background-color: #d6e1f3;
}
/* line 169, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_result .result_bar .result_nb .dkje {
  background-color: #f6e4ce;
  color: #c37012;
}
/* line 173, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_result .result_bar .result_nb .zjlx {
  background-color: #e2f3d3;
  color: #518d33;
}
/* line 177, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_result .result_bar .result_nb .month_money {
  margin-top: 15px;
}
/* line 179, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_result .result_bar .result_nb .month_money h5 {
  font-size: 18px;
  font-weight: 800;
}
/* line 182, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_result .result_bar .result_nb .month_money h5 span {
  font-size: 10px;
}
/* line 185, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_result .result_bar .result_nb .month_money h5 b {
  color: #c93a42;
}
/* line 189, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_result .result_bar .result_nb .month_money small {
  color: #999999;
}
/* line 195, ../sass/yhtgxq.scss */
.fdjsq .js_container .js_result .rate {
  margin-top: -60px;
  text-align: right;
}

/* line 203, ../sass/yhtgxq.scss */
.qtyhtg_header {
  margin: 0;
  padding: 15px 9.5%;
}
/* line 206, ../sass/yhtgxq.scss */
.qtyhtg_header h2 {
  color: #888;
}
/* line 208, ../sass/yhtgxq.scss */
.qtyhtg_header h2 a {
  margin-left: 5px;
  font-size: 14px;
}

/* line 214, ../sass/yhtgxq.scss */
.qtyhtg_container {
  margin: 0;
  padding: 0 8.3333%;
}
/* line 218, ../sass/yhtgxq.scss */
.qtyhtg_container .thumbnail .lp_name {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -28px;
  color: #fff;
}
/* line 223, ../sass/yhtgxq.scss */
.qtyhtg_container .thumbnail .lp_name p {
  font-size: 16px;
  margin: 0;
}
/* line 227, ../sass/yhtgxq.scss */
.qtyhtg_container .thumbnail .lp_name span {
  font-size: 12px;
}
/* line 232, ../sass/yhtgxq.scss */
.qtyhtg_container .caption {
  background-color: #f9dfdf;
}
/* line 234, ../sass/yhtgxq.scss */
.qtyhtg_container .caption .house_name {
  font-size: 18px;
  border-bottom: 1px solid #c9c9c9;
}
/* line 237, ../sass/yhtgxq.scss */
.qtyhtg_container .caption .house_name a {
  color: #ff6600;
}
/* line 241, ../sass/yhtgxq.scss */
.qtyhtg_container .caption .house_price {
  font-size: 12px;
}
/* line 243, ../sass/yhtgxq.scss */
.qtyhtg_container .caption .house_price .price_average {
  margin-top: 10px;
}
/* line 246, ../sass/yhtgxq.scss */
.qtyhtg_container .caption .house_price .btn {
  background-color: #ff6600;
  color: #fff;
}
