.text-pro{
  color: #e52;
}
.thumbnail h4 small{
  position: relative;
  float:right;
}

.promotion{
  top: 5px;
  left: 20px;
  position: absolute;
  overflow: hidden;
  width: 48px;
  height: 48px;
}
.promotion img{
  width: 100%;
}

.list-title {
  margin: 10px 0 20px 0;
  background-color: #eee;
  border-radius:5px;
}
.bg-pro{
  background-color: #e52;
}
.list-title h4{
  margin: 0 9px -2px -14px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius:3px 0 0 3px;
}
.list-title i{
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-right:1px solid #ccc;
  cursor:pointer;
  color: #888;
}
.list-title .active i{
  color: #e52;
}
.list-title i:hover{
  color: #e52;
}
.list-title .btn-group{
  margin: 0 0 0 12px;
}
.list-title button{
  margin-top: 6px;
  padding: 3px 20px;
}
.container[role="arrow"]{
}
.container[role="arrow"] .fa-caret-down{
  color: red;
  margin-top: -50px;
}

#content-list{
    display:none;
}

.container a:hover{
    display:block;
    text-decoration: none;
}


